:root {
    /* Primary Colors */
    --color-primary: #5fac22;
    --color-primary-dark1: #478119;
    --color-primary-dark: #305611;
    --color-primary-light1: #bdeb99;
    --color-primary-light: #9de167;

    /* Secondary Colors */
    --color-secondary: #afd590;
    --color-secondary-dark1: #80bd4f;
    --color-secondary-dark: #558131;
    --color-secondary-light1: #dfeed3;
    --color-secondary-light: #cfe6bc;

    /* Backgrounds */
    --color-bg: #d9d9d9;
    --color-bg-alt: #7f7f7f;

    /* Text Colors */
    --color-text: #a9a9a9;
    --color-text-light: #e2e2e2;
    --color-text-dark: #545454;
    --color-text-inverse: #f2f2f2;

    /* Status Colors */
    --color-success: #5fac22;
    --color-warning: #fb7d19;
    --color-error: #f44336;
    --color-info: #fdb175;
    --color-accent-blue: #62a8e5;
    --color-accent-blue-light1: #c0dcf5;
    --color-accent-blue-light: #a1cbef;
    --color-accent-blue-dark1: #2381d2;
    --color-accent-blue-dark: #17568c;

    /* Borders */
    --color-border: #a6a6a6;
}
